/*.titulo{
  color: rgb(151, 5, 34);
}
.paragrafo{
  color: rgb(19, 11, 139);
}
.link{
  color: blue;
  font-weight: 700;
  text-decoration: none;
}*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.img-thumb{
  width: 380px;
}
.img-canal{
  width: 36px;
}